<div>
    <h2 id="page-heading">
        <span jhiTranslate="plannerApp.projectHistory.home.title">Job Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-history" [routerLink]="['/job-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="plannerApp.projectHistory.home.createLabel">
            Create new Job History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'plannerApp.projectHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="plannerApp.projectHistory.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="plannerApp.projectHistory.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="language"><span jhiTranslate="plannerApp.projectHistory.language">Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="job.id"><span jhiTranslate="plannerApp.projectHistory.job">Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="department.id"><span jhiTranslate="plannerApp.projectHistory.department">Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employee.id"><span jhiTranslate="plannerApp.projectHistory.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let projectHistory of jobHistories ;trackBy: trackId">
                <td><a [routerLink]="['/job-history', projectHistory.id, 'view' ]">{{projectHistory.id}}</a></td>
                <td>{{projectHistory.startDate | date:'medium'}}</td>
                <td>{{projectHistory.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'plannerApp.Language.' + projectHistory.language}}">{{projectHistory.language}}</td>
                <td>
                    <div *ngIf="projectHistory.job">
                        <a [routerLink]="['../job', projectHistory.job?.id, 'view' ]" >{{projectHistory.job?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projectHistory.department">
                        <a [routerLink]="['../department', projectHistory.department?.id, 'view' ]" >{{projectHistory.department?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projectHistory.employee">
                        <a [routerLink]="['../employee', projectHistory.employee?.id, 'view' ]" >{{projectHistory.employee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/job-history', projectHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-history', projectHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'job-history', { outlets: { popup: projectHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
